body{
    padding: 50px;
}
.loginArea{
    margin-top: 50px;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px gray;
}
#transection-area{
    display: none;
}
.count{
    padding: 40px;
    margin: 40px;
    border-radius: 10px;
    color: white;
}
.Deposit{
    background-color: turquoise;
}
.Withdraw{
    background-color: tomato;
}
.Balance{
    background-color: violet;
}
.input-money{
    margin: 10px;
    padding: 40px;

    border-radius: 10px;
    box-shadow: 10px 10px 20px gray;
}